{% extends 'apetizer/base.html' %}
{% load static content_tags content_ui_tags momentjs moderate_tags markdown_deux_tags %}

{% block page_article %}
    <div id="masthead" class="ui vertical segment">
        <div class="ui stackable padded grid">
        {% block page_head %}
        
            <div class="ui ten wide column">
                <a class="icon item" href="index/" ><i class="icon arrow up"></i></a>{% content_breadcrumb currentNode %}
                <h1 class="ui dividing header">{{ currentNode.title }}</h1>
                
                {% if request.user.is_authenticated %}
                <div class="ui secondary menu">
                    <a class="icon item" href="{{ currentNode.parent.get_url }}view/" ><i class="icon arrow left"></i></a>
                    <a class="icon item" href="view/" ><i class="icon eye"></i></a>
                    <a class="icon item" href="translate/" ><i class="icon edit"></i></a>
                    <a class="icon item" href="publish/" ><i class="icon book"></i></a>
                    <a class="icon item" href="timing/" ><i class="icon clock"></i></a>
                    <a class="icon item" href="location/" ><i class="icon marker"></i></a>
                    <a class="icon item" href="image/" ><i class="icon picture"></i></a>
                    <a class="icon item" href="related/" ><i class="icon share square"></i></a>
                </div>
                {% else %}
                {% endif %}
                    
                <div class="ui left aligned">
                {% block ui-form %}
                {% endblock %}
                </div>
                
                {% block body %}
                <div class="ui padded vertical segment" >
                    {% if not currentNode.description %}
                        <a class="ui small label" href="translate/" >Completer la description ...</a>
                    {% else %}
                        <div class="ui header">{{ currentNode.description|markdown }}</div>
                    {% endif %}
                </div>
                {% endblock %}
                
            </div>
            
                
            <div class="ui center aligned six wide column">
                
                <div class="ui items" >
                    <a class="ui medium image" href="{{ currentNode.get_url }}image/" >
                    {% if currentNode.image %}
                        <img src="{{ currentNode.image.url }}" />
                    {% else %}
                        <img src="{% static 'components/semantic/dist/assets/images/image-16by9.png' %}" />
                    {% endif %}
                    </a>
                    {% if currentNode.related_url %}
                    <div class="ui tiny item">
                        {% if action == related %}
                        <a href="{{ currentNode.related_url }}"  target="_blank" >{{ currentNode.related_url|truncatechars:"128" }}</a>
                        {% else %}
                        <a href="related/" >{{ currentNode.related_url|truncatechars:"128" }}</a>
                        {% endif %}
                    </div>
                    {% else %}
                    {% endif %}
                    {% for node in paginator.object_list %}
                        {% if node.behavior == 'file' %}
                        <div class="ui mini spaced image" >
                            <img src="{{ ufile.file.url }}" />
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="ui buttons" >
                        <a class="ui tiny label" href="follow/" ><i class="icon "></i> Suivre</a>
                        <a class="ui tiny label" href="discuss/" ><i class="icon comment"></i>Discuter</a>
                        <a class="ui tiny label" href="review/" ><i class="icon call"></i>Réviser</a>
                        <a class="ui tiny label" href="invite/" ><i class="icon share"></i>Partager</a>
                    </div>
                </div>
                
            </div>
        {% endblock page_head %}
        </div>
        
        {% if request.user.is_staff %}
        <div class="ui sixteen wide column" style="opacity:0.7">
            <div class="ui secondary pointing bottom menu full width">
                {% if currentNode.geojson or currentNode.get_events %}<a class="icon item" href="read/" ><i class="icon book"></i></a>{% endif %}
                {% if currentNode.get_events %}<a class="icon item" href="timeline/" ><i class="icon calendar"></i></a>{% endif %}
                {% if currentNode.geojson %}<a class="icon item" href="map/" ><i class="icon globe"></i></a>{% endif %}
                {% comment %}<a class="icon item" href="{{ currentNode.get_uid_url }}directory/" ><i class="icon sitemap"></i></a>{% endcomment %}
        {% if request.user.is_authenticated %}
        {% if not currentNode.published or action != 'view' %}
                <a class="icon item right" href="pull/" ><i class="icon arrow down"></i></a>
                <a class="icon item" href="file/" ><i class="icon file"></i></a>
                <a class="icon item" href="push/" ><i class="icon arrow up"></i></a>
        {% else %}
        {% endif %}
                <a class="icon item right" href="edit/" ><i class="icon list layout"></i></a>
                <a class="icon item" href="describe/" ><i class="icon list"></i></a>
                <a class="icon item" href="program/" ><i class="icon grid layout"></i></a>
            </div>
        {% endif %}
        </div>
        {% endif %}
        
    </div>

    <div class="ui main stackable internally divided padded grid">      
        {% block page_container %}
        {% block content %}
            {{ block.super }}
        {% endblock %}
        {% endblock page_container %}
    </div>
{% endblock page_article %}
