{% extends 'content/base.html' %}
{% load content_tags momentjs thumbnail markdown_deux_tags moderate_tags %}

{% block body %}
{% if currentNode.get_hash == user_profile.get_hash %}
    {% with proposals=currentNode.get_proposals %}
    {% if proposals|length %}
    <div class="ui segment">
    {% for proposal in proposals %}
        <div class="ui warning message item" >
            <div class="ui floated right menu">
                <a href="{{ proposal.related.get_url }}reject/?token={{ proposal.id }}" class="ui item button">Rejeter</a>
                <a href="{{ proposal.related.get_url }}accept/?token={{ proposal.id }}" class="ui item button">Accepter</a>
            </div>
            <div class="header">{{ proposal.subject }}, {{ proposal.message }}, </div>
            <div class="content">{{ proposal.data }}</div>
            <div class="extra">
                <div class="ui date" >
                  <a href="{{ proposal.visitor.get_url }}" >{{ proposal.get_full_name }}</a>, 
                  {% moment_from_now proposal.modified_date %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
{% endif %}
{{ block.super }}
{% endblock %}

{% block page_container %}
<div class="ui row" >
    <div class="ui eleven wide column">
        {% block content %}
        {% if action == 'view' and currentNode.content %}
        <div class="ui vertical segment">
            {% autoescape off %}
            {% content_render currentNode.content %}
            {% endautoescape %}
        </div>
        {% endif %}
        {% include 'content/published_page.html' %}        
        {% endblock content %}
        <a class="anchor" id="bottom" />
    </div>

    <div class="ui five wide column">
        {% block page_column %}
        {% if currentNode.data %}
            {% if DEBUG %}
            {% if action == 'data' %}
            {% include 'apetizer/tags/action_forms.html' %}
            {% else %}
            {{ currentNode.data }}
            {% endif %}
            {% endif %}
        {% endif %}
        {% with contributors=currentNode.get_contributors %}
        <div class="ui item dividing" >
            <h4 class="ui header">Contributeurs ({{contributors|length}})</h4>
            <div class="ui list" >
                {% for contributor in contributors %}
                <div class="item">
                    <img class="ui avatar image" src="{{ contributor.get_author.get_image.url }}" >
                    <div class="content">
                        <a class="" href="{{ contributor.get_author.get_url }}" >{{ contributor.get_author.get_full_name }}</a>
                        <div class="content">
                          {% moment_from_now contributor.modified_date %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="ui top right attached mini label">
                <a href="{{ currentNode.get_url }}consult/" >History ({{ currentNode.get_history|length }})</a>
            </div>
        </div>
        {% endwith %}
        
        {% if request.user.is_authenticated %}
        <div class="ui hidden divider"></div>
        <div class="ui item">
            <div class="header">{{ currentNode.get_visits|length }} visites</div>
            <div class="header">{{ currentNode.get_visitors|length }} visiteurs</div>
        </div>
        {% endif %}
        
        {% comment %}
        <div class="ui hidden divider"></div>
        <div class="ui item dividing" >
            <h4 class="ui header">Auteur(s)</h4>
            {% with contributor=currentNode.get_author %}
            <div class="item">
                <img class="ui avatar image" src="{{ contributor.get_image.url }}" >
                <div class="content">
                    <a class="" href="{{ contributor.get_url }}" >{{ contributor.get_full_name }}</a>
                    <div class="content">
                      <span class="date">{% moment_from_now contributor.modified_date %}</span>
                    </div>
                </div>
            </div>
            {% endwith %}
        </div>
        
        <div class="ui dividing item" >
            <h4 class="ui header">{{ nodes.0.parent.title }}</h4>
        {% if nodes|length > 1 %}
            <div class="ui vertical folowing accordion text menu">
                {% if nodes|length > 100 %}
                    {% for node in nodes %}
                        {% ifchanged node.label %}
                        <a class="active title">
                            <i class="chevron icon"></i> <b>{{ node.label }}</b>
                        </a>
                        {% endifchanged %}
                    {% endfor %}
                {% else %}
                {% for node in nodes %}
                {% if not node.is_leaf_node and node.label != node.title %}
                <div class="active item">
                    {% ifchanged node.label %}
                    <a class="active title">
                        <i class="dropdown icon"></i> <b>{{ node.label }}</b>
                    </a>
                    {% endifchanged %}
                    <div class="content">
                        {% if node.has_children %}
                            <a class="" href="{{ node.get_url }}">{{ node.title }}</a>
                        {% else %}
                            <a class="" href="{{ node.parent.get_url }}#{{ node.slug }}">{{ node.title }}</a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        {% endif %}
            <a class="ui item mini spaced button" href="follow/" >Suivre</a>
        </div>
        {% endcomment %}
        {% endblock %}
    </div>
</div>

{% block page_review %}
<div class="row" >
    <div class="ui eleven wide column">
        <div class="ui vertical segment">
            {% include 'moderate/tags/comments.html' %}
            {% include 'moderate/tags/comment_form.html' %}
        </div>
    </div>
    
    <div class="ui five wide column">
        
        {% comment %}
        <div class="ui hidden divider"></div>
        <div class="ui item dividing">
            <h4 class="ui header" >Note</h4>
            {% moderate_average_evaluation currentNode %}
        </div>
        
        {% with subscribers=currentNode.get_subscribers %}
        {% if subscribers|length > 1 %}
        <div class="ui hidden divider"></div>
        <div class="ui item dividing" >
            <h4 class="ui header">Folowers ({{subscribers|length}} )</h4>
            {% for subscriber in subscribers %}
                <a class="ui item" href="{{ subscriber.get_url }}" >{{ subscriber.get_full_name }}</a>
                {% if subscriber.email == user_profile.email %}
                    <a class="ui icon cogs" href="unsubscribe/" >X</a>
                {% else %}
                {% endif %}
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
            <div class="ui hidden divider"></div>
            <a class="ui item mini spaced button" href="subscribe/" >Souscrire</a>
        </div>
        {% endif %}
        {% endwith %}
        {% endcomment %}
    </div>
</div>
{% endblock page_review %}

{% endblock page_container %}
