{% load content_tags momentjs markdown_deux_tags moderate_tags %}
<div id="{{ currentNode.id }}">
{% autoescape off %}
{% content_render item.content %}
{% endautoescape %}
{% if not nodes|length %}
{% else %}
    {% for node in current_page.object_list %}
        {% if node.order|slugify == input_data.order and input_data.label %}
        <a class="anchor" id="{{ node.label|slugify }}-form" />
        {% endif %}
        
    {% ifchanged node.label %}
        {% if not forloop.first %}</div></div>{% endif %}
        <div class="item">
            <a class="anchor" id="{{node.label|slugify}}"></a>
            <div class="item" >
                <h2 class="header">{{ node.label }}<a class="anchor" id="{{ node.label }}"></a>
                {% if node.label == node.title and not node.is_leaf_node %}
                    <a class="ui right floated primary button"  href="{{ node.get_url }}" >Lire plus <i class="right chevron icon"></i></a>
                    </h2>
                    <div class="description">
                    {{ node.description|markdown }}
                    </div>
                {% else %}
                    <a class="ui right floated button" href="{{ node.get_url }}" ><i class="right chevron icon"></i></a>
                    </h2>
                {% endif %}
            </div>
            <div class="ui divided items">
        {% endifchanged %}
        
        {% ifchanged node.label %}
        {% if not forloop.first %}
        <div class="ui hidden divider"></div>
        {% endif %}
        {% endifchanged %}
        
        {% if node.label != node.title %}
        <div class="item">
            {% if not node.behavior == 'image' %}
            {% if node.image %}
            <div class="image">
                <img class="" src="{{ node.get_image.url }}" />
            </div>
            {% endif %}
            {% endif %}
            <div class="middle aligned content">
                <a class="anchor" id="{{ node.slug }}"></a>
                
                {% if node.parent.id != currentNode.id %}
                {% ifchanged node.parent %}
                    {% content_breadcrumb node %}
                {% endifchanged %}
                {% endif %}
                {% if node.behavior == 'image' and node.image %}
                {% endif %}
                
                <h4 class="header" ><a href="{{ node.get_url }}view/" class="header">{{ node.title }}</a></h4>
                <p class="meta ">{{ node.description|markdown }}</p>
                
                {% if node.behavior == 'image' and node.image %}
                    <div class="ui item">
                        <img class="ui extra large image" src="{{ node.get_image.url }}" />
                    </div>
                {% elif node.behavior == 'upload' and node.file %}
                    <div class="ui item">
                        <a class="ui right floated" href="{{ node.file.url }}" >Telecharger {{ node.title }}</a>
                    </div>
                {% elif node.behavior == 'related' and node.related_url %}
                    <div class="ui item">
                        <iframe src="{{ node.related_url }}" width="100%" height="320" border="0" style="border:1px solid gray;" ></iframe>
                        <a class="ui right floated primary button"  href="{{ node.get_url }}" >Lire plus <i class="right chevron icon"></i></a>
                    </div>
                {% elif not node.is_leaf_node %}
                    <a class="ui right floated primary button"  href="{{ node.get_url }}" >Lire plus <i class="right chevron icon"></i></a>
                {% else %}
                    
                {% endif %}
                
            </div>
        </div>
        {% endif %}
        
        {% if forloop.last %}
        </div></div>
        {% endif %}
        <div class="ui hidden divider"></div>
    {% empty %}
    {% endfor %}
{% endif %} 
</div>
