{% load i18n content_tags momentjs thumbnail markdown_deux_tags moderate_tags %}

{% for node in current_page.object_list %}

    {% if node.order|slugify == input_data.order and input_data.label %}
    <a class="anchor" id="{{ node.label|slugify }}-form" />
    {% endif %}
        
    {% ifchanged node.label %}
        {% if not forloop.first %}</div></div>{% endif %}
        <div class="ui segment">
            <a class="anchor" id="{{node.label|slugify}}"></a>
            <div class="item" >
                <h2 class="header">{{ node.label }}<a class="anchor" id="{{ node.label }}"></a>
                {% if node.label == node.title and not node.is_leaf_node %}
                    <a class="ui right floated primary button"  href="{{ node.get_url }}view/" >Lire plus <i class="right chevron icon"></i></a>
                    </h2>
                    <div class="description">
                    {{ node.description|markdown }}
                    </div>
                {% else %}
                </h2>
                {% endif %}
            
            </div>
        <div class="ui divided items">
        {% endifchanged %}
        
        {% ifchanged node.label %}
        {% if not forloop.first %}
        <div class="ui hidden divider"></div>
        {% endif %}
        <div class="ui bottom right attached label">
            <a class="ui tiny icon add" href="add/?order={{ node.order }}&label={{ node.label }}#{{node.label|slugify}}-form" title="Ajouter"><i class="icon add"></i></a>
            <a class="ui tiny icon upload" href="upload/?order={{ node.order }}&label={{ node.label }}#{{node.label|slugify}}-form" title="Ajouter"><i class="icon upload"></i></a>
        </div>
        {% endifchanged %}
        
        {% if node.label != node.title or not node.description %}
        <div class="ui item">
            {% if not node.behavior == 'image' %}
            {% if node.image %}
            <div class="image">
                <img class="" src="{{ node.get_image.url }}" />
            </div>
            {% endif %}
            {% endif %}
            
            <div class="middle aligned content">
                <a class="anchor" id="{{ node.slug }}"></a>
                {% if node.parent.id != currentNode.id %}
                <div class="ui item" >
                    {% content_breadcrumb node %}
                </div>
                {% endif %}
                {% if node.behavior == 'image' and node.image %}
                    <div class="ui item">
                        <img class="ui image full width" src="{{ node.image.url }}" />
                    </div>
                {% endif %}
                <h4 class="header" ><a href="{{ node.get_url }}view/" class="header">{{ node.title }}
                </a></h4>
                <p class="meta ">{{ node.description|markdown }}</p>
                {% if node.behavior == 'image' and node.image %}
                    
                {% elif node.behavior == 'upload' and node.file %}
                    <div class="ui item">
                        <a href href="{{ node.file.url }}" >Telecharger {{ node.title }}</a>
                    </div>
                {% elif not node.is_leaf_node %}
                    <a class="ui right floated primary button"  href="{{ node.get_url }}view/" >Lire plus <i class="right chevron icon"></i></a>
                    <div class="ui hidden divider"></div>
                {% else %}
                    {% if node.parent == currentNode and node.content|length < -1 %}
                    <div class="description">
                    {% content_render node.content %}
                    </div>
                    {% endif %}
                {% endif %}
                
                {% if node.is_leaf_node %}
                <div class="extra" >
                  <a href="{{ node.visitor.get_url }}" >{{ node.get_full_name }}</a>, 
                  {% moment_from_now node.modified_date %}
                </div>
                {% endif %}
            </div>
            <div class="ui top right" style="opacity:0.2">
                <a class="ui tiny icon arrow up" href="{{ node.get_url }}reorder/?order={{ node.order|add:-1 }}" title="Deplacer vers le haut"><i class="icon arrow up"></i></a>
                <a class="ui tiny icon arrow down" href="{{ node.get_url }}reorder/?order={{ node.order|add:1 }}" title="Deplacer vers le bas"><i class="icon arrow down"></i></a>
                <a class="ui tiny icon edit" href="{{ node.get_url }}translate/" title="Deplacer vers le bas"><i class="icon arrow edit"></i></a>
            </div>
        </div>
        {% endif %}
        
        {% if forloop.last %}
        </div></div>
        {% endif %}
        
        {% if node.order|slugify == input_data.order and input_data.label %}
            {% if action == 'add' %}
                <div class="ui divider"></div>
                <div class="ui segment">
                    <h3 class="header">Ajouter un article</h3>
                    {% include 'content/tags/form.html' %}
                </div>
            {% elif action == 'upload' %}
                <div class="ui divider"></div>
                <div class="ui vertical segment">{% include 'ui/tags/upload.html' %}</div>
            {% endif %}
        {% endif %}
        
        <div class="ui hidden divider"></div>
    {% empty %}
    {% endfor %}
    
    
    {% if paginator.num_pages > 1 %}
    {% with dd_request_path=request.path %}
        <ol class="ui pagination centered menu">
            {% if current_page.has_previous %}
            <li class="item">
                <a href="{{ dd_request_path|get_paginator_page_url:current_page.previous_page_number }}" data-page="{{ current_page.previous_page_number }}"><i class="icon-caret-left"></i>&nbsp;&nbsp;{% trans "Previous" %}</a>
            </li>
            {% endif %}
            
            {% for page in paginator.page_range %}
            {% if forloop.counter <= 10 %}
            <li class="item {% if current_page.number == page %}active{% endif %}">
                <a href="{{ dd_request_path|get_paginator_page_url:page }}" data-page="{{ page }}">{{ page }}</a>
            </li>
            {% endif %}
            {% endfor %}
            
            <li class="item">
                {% if current_page.has_next %}
                <a href="{{ dd_request_path|get_paginator_page_url:current_page.next_page_number }}" data-page="{{ current_page.next_page_number }}">{% trans "Next" %}&nbsp;&nbsp;<i class="icon-caret-right"></i></a>
                {% else %}
                <span>{% trans "Next" %}&nbsp;&nbsp;<i class="icon-caret-right"></i></span>
                {% endif %}
            </li>
        </ol>
    {% endwith %}
    {% endif %}
    
    <a class="anchor" id="bottom" />
    <div class="ui divider"></div>
    <div class="ui horizontal list">
        <a class="ui item " href="add/#bottom" title="Ajouter"><i class="ui icon add"></i> Ajouter un article</a>
        <a class="ui item " href="upload/#bottom" title="Ajouter"><i class="ui icon upload"></i> Ajouter des images, fichiers</a>
    </div>
    
    {% if not input_data.label and request.GET.order != '-1'  %}
        {% if action == 'add' %}
            <div class="ui segment">{% include 'content/tags/form.html' %}</div>
        {% elif action == 'upload' %}
            <div class="ui segment">{% include 'ui/tags/upload.html' %}</div>
        {% endif %}
    {% endif %}
    
    {% if parentNodes|length %}
    <div class="ui hidden divider"></div>
    {% for node in parentNodes %}
        {% if node.parent != node.parent %}
            <div class="{{ node.get_url }}" >{{ node.get_url }}</div>
        {% endif %}
    {% endfor %}
    {% endif %}

    