{% extends 'content/page.html' %}

{% block page_container %}
    <div class="ui six wide column vertical segment">
        <label class="sub">Nom de la classe :</label>
        <div class="ui right floated header">
            {{ currentNode.slug }}
            <a class="ui tiny label" href="rename/" >Rename</a>
        </div>
    </div>
    
    <div class="ui ten wide column vertical segment">
        <div class="ui sub header">Attributes</div>
        
        {% block semantic-attributes %}
        <div class="ui vertical segment" >
        {% for attribute in class_attributes %}
            <div class="ui item" >
                {{ attribute.name }} : {{ attribute.type }}
            </div>
        {% endfor %}
        </div>
        {% endblock %}
        
        <div class="ui vertical segment" >
            {% include 'apetizer/tags/action_forms.html' %}
        </div>
        
    </div>

{{ block.super }}

{% endblock %}