{% load staticfiles %}

{% comment %}
<script src="{% static 'components/multiuploader/scripts/jquery.tmpl.min.js' %}"></script>
<script src="{% static 'components/multiuploader/scripts/jquery.iframe-transport.js' %}"></script>
<script src="https://code.jquery.com/jquery-1.11.2.min.js" ></script>
<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js" ></script>

<script src="https://raw.githubusercontent.com/blueimp/jQuery-File-Upload/master/js/jquery.fileupload.js' %}"></script>
<script src="https://raw.githubusercontent.com/blueimp/jQuery-File-Upload/master/js/jquery.fileupload-ui.js' %}"></script>
<script src="{% static 'components/multiuploader/scripts/jquery.min.js' %}"></script>
<script src="{% static 'components/multiuploader/scripts/jquery-ui.min.js' %}"></script>
{% endcomment %}

<script src="{% static 'components/multiuploader/scripts/jquery.tmpl.min.js' %}"></script>
<script src="{% static 'components/multiuploader/scripts/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'components/multiuploader/scripts/jquery.fileupload.js' %}"></script>
<script src="{% static 'components/multiuploader/scripts/jquery.fileupload-ui.js' %}"></script>

<script type="text/javascript" src="{% static 'components/multiuploader/scripts/collectfiles.js' %}"></script>

