{% load i18n staticfiles %}

<link href="{{ STATIC_URL }}components/frontendadmin/css/frontendadmin.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}components/codemirror/lib/codemirror.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="{% static "components/multiuploader/styles/jquery-ui.css" %}" id="theme">
<link rel="stylesheet" href="{% static "components/multiuploader/styles/jquery.fileupload-ui.css" %}">

<style>
<!--
.CodeMirror-scroll{height:auto;overflow:visible;}
-->
</style>