{% load i18n %}
{% load content_tags %}
<div class="ui breadcrumb" >
     {% for ancestor in breadcrumbAncestors %}
        <div class="right chevron icon divider"> / </div>
        <a class="section" href="{{ ancestor.get_url }}view/" title="{{ ancestor.title }}" >{% if not ancestor.parent %}{{ ancestor.label }}{% else %}{{ ancestor.title }}{% endif %}</a>
     {% endfor %}
     <div class="right chevron icon divider"> / </div>
     <a class="active section" href="{{ currentNode.get_url }}view/#{{ currentNode.label|slugify }}" title="{{ currentNode.title }}" >{{ breadcrumbNode.label }}</a>
    {% if breadcrumbAction %}
        {% if breadcrumbAction != 'view' %}
            <div class="right arrow icon divider"> / </div>
            {{ breadcrumbAction }}
        {% else %}
            <div class="right chevron icon divider"> / </div>
            {% comment %}<a href="{{ currentNode.get_url }}add/?label={{currentNode.label}}" ><i class="ui icon add"></i></a>{% endcomment %}
        {% endif %}
    {% endif %}
</div>