{% load content_tags i18n %}

<a class="anchor" name="{{ item.slug }}" id="{{ item.slug }}" title="{{ item.title }}" ></a>

<div class="dashboard-fieldset-header clearfix" >
	
	<h3 class="pull-left" ><span class="icon-arrow-right" ></span> {{ item.title }}</h3>
	
	<div class="dashboard-fieldset-morebtn pull-right" >
		
		<a href="{{ item.parent.get_url }}#{{ item.slug }}" ><i class="icon-plus" ></i> {% trans "info" %}</a>
	
		<div class="dashboard-fieldset-tooltip clearfix" >
			<p>{% content_render item.description %}<p>
			{% if has_permission %}
			  <div class="frontendadmin-item-editable" id="item-{{ item.id }}" >	 
		  	  {% endif %}
		  	  
			  {% autoescape off %}
			  {% content_render item.content %}
			  {% endautoescape %}
				  
		      {% if has_permission %}
		      </div>
			  {% endif %}
			  
			{% if item %}
				{% if has_permission %}
					{% for translation in item.get_translations %}
						{% if translation.language.code == request.LANGUAGE_CODE %}
								<div class="frontendadmin-item-toolbar" >
									{% content_change_link translation "Edit" %}
									{% content_change_link translation.model "More" %}
						 	  	</div>
					 	 {% endif %}
				 	{% endfor %}
				 {% endif %}
			{% endif %}
		</div>
		{% content_related item.get_url %}
	</div>
	
</div>
