{% load i18n content_tags %}

<div id="sitemap" class="row" >
	<div class="container">
		<ul class="item-sitemap-topics clearfix" >
		{% for node in nodes %}
			{% if node.parent and not node.redirect and node.is_visible %}
				<li >
			        {% if node.is_leaf_node %}
			        	<a href="{{ node.get_url }}" >{{ node.label }}</a>
			    	{% else %}
			    		<h4><a href="{{ node.get_url }}" >{{ node.label }}</a></h4>
			    		<ul class="branch" >
			        		{{ children }}
			        	</ul>
				     {% endif %}
		        </li>
	        {% else %}
	        	{% if not node.redirect and children and node.is_visible %}
			        <div class="item-page-element" >
						<h3><a href="{{ node.get_url }}" >{{ node.label }}</a></h3>
						<ul>
				        	{{ children }}
				        </ul>
				    </div>
				{% endif %}
	        {% endif %}
	    {% endfor %}
		</ul>
	</div>
</div>
