{% load content_tags content_ui_tags %}

{% for node in roots %}
     <div class="item-list-element content-item-tile {% if has_permission %}frontendadmin-item-zone{% endif %}" >  
	  {% if node.image %}
	  <div class="pull-left">
		  <a href="{{ node.get_url }}" >
		  <img src="{{ node.image.url }}" class="item-image" alt="{{ node.title }}" /><br/>
		  </a>
	  </div>
	  {% endif %}
	  <div>
	  	  <a href="{{ node.get_url }}" >
		  <!--<span>{{ node.label }}</span>-->
		  <h2>{{ node.title }}</h2>
		  <p class="dark-gray">{{ node.description }}</p>
		  <div class="frontendadmin-item-toolbar" style="position:absolute;top:0px;right:0px;">
			{% content_change_link node.get_translation "Edit" %}
			{% content_change_link node "More" %}
			{% content_delete_link node "Delete" %}
		  </div>
		  </a>
      </div>
   </div>
{% endfor %}