{% if item %}
	{% if has_permission %}
		{% for translation in item.get_translations %}
			{% if translation.language.code == request.LANGUAGE_CODE %}
					<div class="frontendadmin-item-toolbar" >
						{% frontendadmin_change translation "Edit" %}
			 	  	</div>
		 	 {% endif %}
	 	{% endfor %}
	 	<div style="position:absolute;height:32px;bottom:-32px;left:0px;right:0px;background:rgba(255, 0, 0, 0.5);color:black" >
		 	{{ item.get_url }}
		 	<div class="pull-right">
		 		{% frontendadmin_change item "Redirect" %}
		 	</div>
	 	</div>
	 {% endif %}
{% endif %}