{% load momentjs moderate_tags %}
{% comment %}
<div class="ui comments">
  <h3 class="ui dividing header">Comments</h3>
{% for comment in review.comments %}
  <div class="comment {% if not comment.validated %}disable{% endif %}" >
    <a class="avatar">
      <img src="{{ comment.get_image.url }}">
    </a>
    <div class="content">
      <a class="author" href="{{ comment.get_url }}" >{{ comment.get_full_name }}</a> 
        {{ comment.subject }}
      <div class="metadata">
        <span class="date">{% moment_from_now comment.modified_date %}</span>
      </div>
      <div class="text">
        {{ comment.message }}
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endcomment %}

<div class="ui feed">
    <h4 class="header">Commentaires</h4>
    {% for comment in currentNode.get_comments %}
        <div class="event" {% if not comment.validated %}style="opacity:0.3;"{% endif %}>
            <div class="label">
            {% ifchanged comment.get_author.get_hash %}
              <img class="avatar" src="{{ comment.get_author.get_image.url }}">
            {% endifchanged %}
            </div>
            {% if comment.status != 'commented' %}
                {% ifchanged comment.status and not comment.get_author.get_hash %}
                <div class="content">
                  <div class="summary">
                  <i class="pencil icon"></i>
                    <a class="user" href="{{ comment.get_author.get_url }}" >
                      {{ comment.get_full_name }}
                    </a> {{ comment.subject }}
                    <div class="date">{% moment_from_now comment.modified_date %}</div>
                  </div>
                </div>
                {% else %}
                {% endifchanged %}
            {% else %}
            <div class="content">
              <div class="summary">
                <a class="user" href="{{ comment.get_author.get_url }}" >
                  {{ comment.get_full_name }}
                </a> {{ comment.subject }} - {{ comment.status }}
                <div class="date">
                  {% moment_from_now comment.modified_date %}
                </div>
              </div>
              <div class="extra text">
                {{ comment.message }}
              </div>
              {% comment %}
              <div class="meta">
                <a class="like">
                  <i class="like icon"></i> 4 Likes
                </a>
              </div>
              {% endcomment %}
            </div>
            {% endif %}
        </div>
    {% endfor %}
</div>