Django>=1.8
pytz>=2014.7
six>=1.8.0

Pillow>=2.6.1
easy_thumbnails
django-image-cropping

django-memcached
python-memcached

django-parsley==0.5
django-leaflet
django_compressor>=1.2

requests
python-twitter

django-markdown-deux