{% extends "ui/change.html" %}
{% load i18n leaflet_tags %}

{% block extra-styles %}
{{ block.super }}
{% leaflet_css %}
{% endblock %}

{% block content %}
{% leaflet_map "content-map" callback="window.map_init_basic" %}
{{ block.super }}
{% endblock %}

{% block extra-scripts %}
{{ block.super }}
{% leaflet_js %}
<script type="text/javascript">
    function map_init_basic (map, options) {
        var group = new L.featureGroup([
        {% if currentNode.is_leaf_node %}
            {% if item.latitude and item.longitude %}
                L.marker([{{ currentNode.latitude|stringformat:'.6f' }}, {{ currentNode.longitude|stringformat:'.6f' }}]),
            {% else %}
                //L.marker([45.764000, 4.835700]),
            {% endif %}
        {% else %}
            {% for item in currentNode.get_descendants %}
                {% if item.latitude and item.longitude %}
                    L.marker([{{ item.latitude|stringformat:'.6f' }}, {{ item.longitude|stringformat:'.6f' }}]),
                {% else %}
                    //L.marker([45.764000, 4.835700]),
                {% endif %}
            {% endfor %}
        {% endif %}
        ]);
        group.addTo(map);
        map.fitBounds(group.getBounds());
    }
</script>
{% endblock %}