{% extends 'dashboard/digger.html' %}
{% load i18n %}
{% block Zbody %}
<div class="col-md-12 text-center">
    <form action="" method="POST" >
        <input name="keyword" value="{{ request.POST.keyword }}" type="text" placeholder="{% trans "keyword, expression" %}" />
    </form>
</div>
{% endblock %}


{% block Zcontent %}
<div class="container">
{% for status in currentNode.get_children %}
    <h3>{{ status.title }}</h3>
    <p>{{ status.description }}</p>
{% endfor %}
</div>

{% endblock %}