{% load static content_tags content_ui_tags thumbnail momentjs moderate_tags %}<!DOCTYPE html>
<html lang="fr"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
{% comment %}
<link rel="image_src" type="image/jpeg" href="/static/images/logo-front.png">
{% endcomment %}
{% if not currentNode.parent %}
    {% if not currentNode.visible %}
        <base href="{{ currentNode.get_uid_url }}" ></base>
    {% else %}
        <base href="{{ currentNode.get_url }}" ></base>
    {% endif %}
{% else %}
    <base href="{{ currentNode.get_url }}" ></base>
{% endif %}
<title>{{ currentNode.get_root.title }} - {{ currentNode.label }} - {{ currentNode.title }}</title>
<meta name="description" content="{{ currentNode.description|linebreaks }}">
<meta name="keywords" content="{{ currentNode.keywords }}">

{% comment %}
{% block canonical-link %}{% endblock canonical-link %}
{% block alternate-hreflang-link %}
  {% for sup_lang in LANGUAGES %}
    {% if sup_lang.0 != LANGUAGE_CODE %}
      <link rel="alternate" hreflang="{{ sup_lang.0 }}" href="http://{{ request.get_host }}/{{ sup_lang.0 }}{{ request.get_full_path }}" />
    {% endif %}
  {% endfor %}
{% endblock alternate-hreflang-link %}
{% endcomment %}

<link rel="stylesheet" type="text/css" class="ui" href="{% static 'components/semantic/dist/semantic.css' %}">

<script src="{% static 'components/semanticui/jquery.min.js' %}"></script>
<script src="{% static 'components/semantic/dist/semantic.js' %}"></script>

<script type="text/javascript" src="{% static 'components/momentjs/moment-2.10.6.js' %}" ></script>
<script type="text/javascript" src="{% static 'components/momentjs/lang/fr.js' %}" ></script>

<script type="text/javascript">
    $(document).ready( function(){
            
        moment.locale('fr');
        $('time.moment-from-now').each( function( index ){
                try {
                        var datetime = moment( $(this).attr('datetime') );
                        $(this).text( datetime.fromNow(false) );
                } catch( err ) {
                    console.log(err);
                }
        });
        
        $('.message .close')
          .on('click', function() {
            $(this)
              .closest('.message')
              .transition('fade')
            ;
          });

    });


</script>

{% block extra-styles %}

{% endblock %}

{% if currentNode.image %}
<style type="text/css">
<!--
    #masthead:before {
        position:absolute;
        width:100%;
        height:100%;
        top:0px;
        content:"";
        background-image:url('{{ currentNode.image.url }}');
        background-repeat:no-repeat;
        background-size: cover;
        background-position:50% 50%;
        opacity:0.05;
        background-color:#888;
        }
-->
</style>
{% endif %}

<style type="text/css">
<!--
    .row{
        margin:1rem 2rem;
    }
    #masthead{
        padding:0px;
    }
    .pusher{
        /* background-color:rgba(240,240,240,0.90) !important; */
        /* background-color:#F9F9F9 !important; */
    }
    .article{
        /* background-color:#F9F9F9 !important;*/
        background-color:rgba(253,253,253,0.75) !important;
        border: 1px solid #E5E5E5;
    }
    
    .secondary.pointing.menu{
        margin:0px;
    }
    
    @media all and (min-width: 1100px){
    .ui.full.height {
        margin:4% 5%;
      }
    }
    @media all and (min-width: 1300px) {
    .ui.full.height {
        margin:6% 10%;
      }
    }
    .env{
    
    position:fixed;
    top:-100px;
    left:-100px;
    right:-100px;
    bottom:-100px;
    
    background-color:#aaaaaa;
    background-image:url('{{ currentNode.get_root.get_image.url }}');
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    -ms-filter: blur(100px);
    filter: blur(100px);
    
    background-repeat:no-repeat;
    background-position:center center;
    background-size:80%;
    }
    
    #messages{
        position:fixed;
        top:2%;
        right:2%;
        z-index:999;
        
        
    }
-->
</style>

<body >

{% block page_body %}
<div class="env" ></div>

<div id="body" class="started pushable" ontouchstart="">

    <div class="ui sidebar inverted vertical menu">
        
       <div class="item">
           <a class="ui mini image" href="{{ rootNode.get_url }}">
           {% if rootNode.image %}
               <img class="icon image" src="{{ rootNode.image.url }}" />
            {% else %}
                {% comment %}<img src="{% static 'images/logo-apetizer.png' %}" />{% endcomment %}
            {% endif %}
          </a><br />
          <a href="{{ rootNode.get_url }}view/"><b>{{ rootNode.label }}</b></a>
        </div>
        
        {% for node in roots %}
            {% ifchanged node.label %}
            <div class="item">
                <a class="" href="{{ node.get_url }}view/">
                  <b>{{ node.label }}</b>
                </a>
                {% if user_profile.validated %}
                <a class="ui circular mini label" href="{{ node.get_url }}add/"> <b>+</b></a>
                {% endif %}
            </div>
            {% else %}
            <div class="menu">
            <a class="item" href="{{ node.get_url }}view/">{{ node.title }}</a>
            </div>
            {% endifchanged %}
            {% if not node.is_leaf_node %}
            <div class="menu">
            {% with cnodes=node.get_children %}
              {% regroup cnodes|dictsort:"label" by label as label_list %}
              {% for l in label_list %}
                {% with child=l.list.0 %}
                  {% if child.is_leaf_node %}
                  <a class="item" href="{{ child.parent.get_url }}view/#{{ child.slug }}">{{ child.label }} </a>
                  {% else %}
                  <a class="item" href="{{ child.get_url }}view/"><b>{{ child.label }}</b> </a>
                  {% endif %}
                 {% endwith %}
              {% endfor %}
            {% endwith %}
            </div>
            {% endif %}
        {% endfor %}
        
        {% if user_profile.validated %}
        <div class="item divider">
            <a class="" href="{{ rootNode.get_url }}add/">
              <i class="icon add"></i> Ajouter un chapitre
            </a>
        </div>
        {% endif %}

    </div>

<div class="pusher">
    <div class="ui full height" style="">
        <div class="article">
            
            <div class="ui large secondary pointing menu" >
            
                <a href="/" class="active item">Accueil</a>
            
                <div id="navigate" class="ui big launch button item">
                   <i class="content icon"></i>
                   <span class="text">Menu</span>
                </div>
                
                <form class="ui fluid item form" action="search/" method="get" rol="form" >
                    <div class="ui large category search">
                      <div class="ui left icon transparent input">
                        <i class="search icon"></i>
                        <input class=" prompt" name="keyword" placeholder="Search keyword ..." type="text">
                      </div>
                      <div class="results"></div>
                    </div>
                </form>
                
                <div class="right menu">
                    
                    {% comment %}
                    {% if request.user.is_authenticated %}
                    <div class="item">
                    {% if user_profile.email %}
                        {% if not user_profile.validated %}
                            <a class="ui " href="{{ user_profile.get_url }}validate/" ><i class="icon warning-sign"></i>Valider ma session</a>
                        {% else %}
                            <a class="ui " href="{{ user_profile.get_url }}profile/" ><i class="icon user"></i> {{ user_profile.get_full_name }}</a>
                            {% if user_profile.get_image %}
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <a class="ui " href="{{ user_profile.get_url }}profile/" ><i class="icon user"></i> {{ user_profile.get_full_name }}</a>
                    {% endif %}
                        <a href="{{ user_profile.get_url }}logout/" class="mini" ><i class="icon remove"></i></a>
                    </div>
                    {% endif %}
                    {% endcomment %}
                    
                    {% if not request.user.is_authenticated %}
                    <div class="item">
                        <a class="ui primary button" href="login/" >Se connecter</a>
                      </div>
                    {% else %}
                      <div class="item">
                          {% if request.user.is_staff %}
                            <a class="ui button" href="/admin/" >Admin</a>
                          {% endif %}
                        <a class="ui primary button" href="dashboard/" >Tableau de bord</a>
                      </div>
                    {% endif %}
                    
                </div>
                
                    {% comment %}
                {% if request.user.is_authenticated %}
                    <a href="{{ user_profile.get_url }}register/" class="item" >{% if request.user.is_authenticated %}{{ request.user.username }}{% endif %}
                    <a href="{{ user_profile.get_url }}logout/" class="item" ><i class="icon remove"></i></a>
                {% else %}
                    <a href="{{ user_profile.get_url }}reset/" class="item" ><i class="icon recycle"></i></a>
                {% endif %}
                    {% endcomment %}
            </div>
        
            {% block page_message %}
            <div id="messages">
            {% for message in messages %}
                {% if not debug or 'debug' not in message.tags %}
                    <div class="ui warning message">
                      <i class="close icon"></i>
                      <div class="header">
                        {{ message.title }}
                      </div>
                      {{ message|safe }}
                    </div>
                {% endif %}
            {% endfor %}
            </div>
            {% endblock %}
        
        {% block page_article %}
            <div class="ui masthead vertical segment" >
                {% block page_head %}
                {% block body %}
                {% endblock %}
                {% endblock %}
                
                {% block ui %}
                {% endblock %}
                
                {% block page_container %}
                {% block content %}
                {% endblock %}
                {% endblock %}
            </div>
        {% endblock page_article %}
        </div>
    </div>
    
    <div class="ui black inverted vertical footer segment">
    {% block page_footer %}
       
       {% comment %}
        <div class="ui vertical padded segment inverted container">
              
              <div class="ui six columns doubling grid">
                  
                  <div class="column">
                    <a class="ui mini image" href="{{ rootNode.get_url }}">
                        <img class="icon image" src="{{ rootNode.get_image.url }}" />
                      </a><br />
                      <a href="{{ rootNode.get_url }}view/"><b>{{ rootNode.label }}</b></a>
                  </div>
            
                {% for node in roots %}
                
                    {% ifchanged node.label %}
                    <div class="column">
                        <h4 class="ui inverted header" href="{{ node.get_url }}view/">
                          {{ node.title }}<br/>
                        <a class="sub header" href="{{ node.get_url }}view/">{{ node.label }}</a>
                        </h4>
                    {% else %}
                    {% endifchanged %}
                    
                    {% if not node.is_leaf_node %}
                    <div class="column">
                    {% with cnodes=node.get_children %}
                      {% regroup cnodes|dictsort:"label" by label as label_list %}
                      <div class="ui inverted link list">
                      {% for l in label_list %}
                        {% with child=l.list.0 %}
                          {% if child.is_leaf_node %}
                          <a class="item" href="{{ child.parent.get_url }}view/#{{ child.slug }}">{{ child.label }} </a>
                          {% else %}
                          <a class="item" href="{{ child.get_url }}view/"><b>{{ child.label }}</b> </a>
                          {% endif %}
                         {% endwith %}
                      {% endfor %}
                     </div>
                    {% endwith %}
                    
                    {% ifchanged node.label %}
                    </div>
                    {% endifchanged %}
                    
                    </div>
                    {% endif %}
                {% endfor %}
                
              </div>
        </div>
        {% endcomment %}
    
    
        <div class="ui center aligned container">
            <div class="ui stackable inverted grid">
              <div class="three wide column">
                <h4 class="ui inverted header">Reseau</h4>
                <div class="ui inverted link list">
                  <a class="item" href="/contribute/" target="_blank">Contribuer</a>
                  {% comment %}
                  <a class="item" href="/search/" ><i class="icon search"></i> Rechercher</a>
                  <a class="item" href="/register/" target="_blank">Devenir membre</a>
                  <a class="item" href="/acteurs/" target="_blank">Devenir acteur</a>
                  {% endcomment %}
                </div>
              </div>
              <div class="three wide column">
                <h4 class="ui inverted header">Plateforme</h4>
                <div class="ui inverted link list">
                  <a href="http://apetizer.biodigitals.com" class="item">Documentation</a>
                  <a href="doc/" class="item">Api</a>
                </div>
              </div>
              <div class="seven wide right floated column">
                <h4 class="ui inverted teal header">Aider à péréniser ce projet</h4>
                <p> Le soutien du développement Apetizer vient directement de la communauté.</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_donations">
                <input type="hidden" name="business" value="nicolas.danjean@free.fr">
                <input type="hidden" name="lc" value="US">
                <input type="hidden" name="item_name" value="Biodigitals - Apetizer">
                <input type="hidden" name="no_note" value="0">
                <input type="hidden" name="currency_code" value="EUR">
                <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHostedGuest">
                <input type="image" src="{% static 'images/btn_donate_LG.gif' %}" border="0" name="submit" alt="Faire un don avec PayPal">
                </form>
              </div>
            </div>
            <div class="ui inverted section divider"></div>
            <img src="{% static 'images/logo-apetizer.png' %}" class="ui centered mini image">
            <div class="ui horizontal inverted small divided link list">
              <a class="item" href="http://biodigitals.mit-license.org/" target="_blank">Gratuit et Open Source (MIT)(A-GPL)(CC)</a>
            </div>
          </div>
        </div>
        {% endblock page_footer %}
    </div>
</div>
{% endblock %}

{% block extra-scripts %}
{{ block.super }}

<script>

    $(document).ready(function(){
    
        $('.ui.accordion').accordion();
        
        $('#navigate').click(function(){
            $('.ui.sidebar')
            .sidebar('toggle')
        ;});
        
        $('.ui.sticky')
          .sticky({
            context: '#body',
            pushing: true,
          })
        ;
    });
    
</script>

<script type="text/javascript">
$(document).ready(function () {

    {% if user_profile.validated %}
    $('.ui.search')
      .search({
        debug: true,
        type:'category',
        minCharacters : 3,
        
        searchFullText: false,
        
        onSelect:function(data){
          window.location.href = data['url']+'view/';
        },
        
        apiSettings:{
            url: '{{rootNode.get_url}}query.json?query={query}',
            successTest: function(response) {
              // test whether a JSON response is valid
              return response.success == true;
            },
            onResponse : function(directoryResponse) {
                //console.log(directoryResponse.payload)
                return directoryResponse.payload;
            },
        },
        
      })
    ;
    {% endif %}
    
    {% if request.user.is_authenticated %}
    var ws = new WebSocket("ws:{{ currentNode.get_root.slug }}:{{request.META.SERVER_PORT}}/{{ currentNode.id }}.ws");
    ws.onmessage = function(event) {
       var message = JSON.parse(event.data);
       console.log(event.data);
       $('#messages').append('<div class="ui warning message"><i class="close icon"></i><div class="header">'+message['status']+'</div>'+message['message']+'</div>');
    }
    {% endif %}
});
</script>
{% endblock %}
{% include "content/assets/scripts.html" %}
</body></html>
