{% extends 'content/page.html' %}
{% load static %}
{% block extra-scripts %}
{{ block.super }}
<script src="{% static 'components/codemirror/lib/codemirror.js' %}"></script>
<script src="{% static 'components/codemirror/mode/python/python.js' %}"></script>

<script src="/static/components/handsontable/handsontable.full.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
var container = document.getElementById('program_table');
var data = [
      ['','','','',''],
      ['',''],
    ];
    
var hot = new Handsontable(container, {
  data: data,
  minSpareRows: 1,
  rowHeaders: true,
  colHeaders: true,
  contextMenu: true,
  
  manualColumnResize: true,
  manualRowResize: true,
  
  colWidths: [128,128],
  rowHeights: [32,32],
  
});});

var macroEditor = CodeMirror(document.getElementById('program-editor'), {
  value: "import os\n",
  mode:  "python"
});


</script>
{% endblock %}

{% block extra-styles %}
{{ block.super }}
<link rel="stylesheet" media="screen" href="/static/components/handsontable/handsontable.full.min.css">
{% endblock %}

{% block page_container %}
<div class="row" style="margin:0px;padding:0px;">
    <div id="program_table" style="position:relative;overflow:hidden;background:gray;width:100%;height:auto" ></div>
</div>
<div class="ui sixteen wide column" style="position:relative;">
    
    <div class="ui vertical segment">
        <div class="ui form" id="program-editor" ></div>
        <input type="hidden" name="macros" id="id_macros" value="" />
    </div>
    <div class="ui vertical segments">
    </div>
</div>
{% comment %}
<div class="ui six wide column" style="position:relative;">
    <div class="ui segment">
        <a href="download/" class="ui button" >download</a>
        <a href="file/" class="ui button" >upload (replace)</a>
        <a href="" class="ui button" >merge (update)</a>
        <a href="" class="ui button" >execute</a>
    </div>
    {% include 'apetizer/tags/action_forms.html' %}
</div>
{% endcomment %}

{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
{% endblock %}

{% block side_content %}

{% endblock %}