{% extends 'base.html' %}
{% load i18n %}

{% block extra-styles %}
    {{ block.super }}
    <link href="{{ STATIC_URL }}css/documentation.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="documentation-container" >
       <div class="documentation-content" >
       {% autoescape off %}
           {{ content }}
       {% endautoescape %}
       </div>
       <div class="documentation-content" >
           <h3>Default request:</h3>
           <iframe width="100%" height="320" src="{{ data_api_url }}" ></iframe>
       </div>
   </div>
</div>
{% endblock %}
