<li>
    <a href="{% url "dashboard-events" action="view" %}"><i class="fa fa-calendar"></i> <span class="nav-label">{% trans "Events" %}</span></a>
    <ul class="nav nav-second-level collapse" >
        <li><a href="{% url "dashboard-digger-twitter" action="view" %}"><i class="fa fa-twitter"></i> <span class="nav-label">{% trans "Twitter" %}</span></a></li>
        <li><a href="{% url "dashboard-digger-facebook" action="view" %}"><i class="fa fa-facebook"></i> <span class="nav-label">{% trans "Facebook" %}</span></a></li>
        <li><a href="{% url "dashboard-digger-googlecalendar" action="view" %}"><i class="fa fa-google"></i> <span class="nav-label">{% trans "Google Calendar" %}</span></a></li>
        <li><a href="{% url "dashboard-digger-meetup" action="view" %}"><i class="fa fa-square"></i> <span class="nav-label">{% trans "Meetup" %}</span></a></li>
    </ul>
</li>