{% extends 'register/base.html' %}
{% load momentjs %}


{% comment %}
  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>{{ currentNode.get_contributors|length }} contributeurs</h3>
          <p>{{ currentNode.get_visitors|length }} visiteurs</p>
        </div>
        <div class="column">
          <h3>{{ currentNode.get_descendants_count }} articles</h3>
          <p>{{ currentNode.words }}</p>
        </div>
      </div>
    </div>
  </div>
{% endcomment %}


{% block page_container %}

{% comment %}
<div class="row">
    <div class="ui sixteen wide column">
        <div class="ui vertical segment">
            <div class="ui five columns grid">
                {% with moderations=user_profile.get_contributions %}
                <div class="column">
                    <h3 class="header">{{ moderations|length }} contributions</h3>
                </div>
                {% endwith %}
                {% with moderations=user_profile.get_proposed %}
                <div class="column ">
                    <h3 class="header">{{ moderations|length }} propositions</h3>
                </div>
                {% endwith %}
                {% with moderations=user_profile.get_votes %}
                <div class=" column ">
                    <h3 class="header">{{ moderations|length }} votes</h3>
                </div>
                {% endwith %}
            </div>
        </div>
    </div>
</div>
{% endcomment %}

<div class="row">
    <div class="ui sixteen wide column">
        <h4>Suivi</h4>
        <div class="ui seven cards doubling">
        {% for node in user_profile.get_followings %}
            <div class="ui card">
              <div class="tiny image">
                <img src="{{ node.related.get_image.url }}">
              </div>
              <div class="content">
                <a class="header" href="{{ node.related.get_url }}" >{{ node.related.title }}</a>
                <div class="meta">
                  <span class="date">{{ node.related.label }}</span>
                </div>
                {% comment %}
                <div class="description">
                  {{ node.related.description }}
                </div>
                {% endcomment %}
              </div>
              {% comment %}
              <div class="extra content">
                <a>
                  <i class="user icon"></i>
                  22 Friends
                </a>
              </div>
              {% endcomment %}
            </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}