{% extends 'register/base.html' %}
{% load i18n sekizai_tags %}

{% block title %}{% trans "Personnal infos" %}{% endblock %}

{% block page-header %}
	<div class="clearfix page-header-simple">
		<div class="pull-left" >
			<h1>{% trans "Sign up" %}</h1>
		</div>
	</div>
{% endblock %}

{% block registration-form-head %}
	<h1>{% trans "Complete your personnal informations" %}</h1>
{% endblock %}

{% block registration-form-foot %}
{% endblock %}

{% block registration-form-button-bar %}
	<p class="registration-small-text">{% trans "By registering, you agree to the" %} <a href="" target="_blank">{% trans "terms and conditions" %}</a>.</p>
    <button id="send-action-button" class="action-button flat-btn flat-pink">{% trans "Validate my profile" %}</button>
{% endblock %}

{% block action-pipe-js %}
	
{% endblock %}