.registration-page{
	padding:5%;
	line-height:40px;
}
.registration-content h3{
    margin:40px 0px;
}
.registration-field{
    margin:40px 0px;
    border-bottom: 1px dashed #ccc;
}
    
.registration-field > label{
    float:left;
    line-height:40px;
}
.registration-field > input{
    width:auto;
    float:right;
    background-color:#fafafa;
    font-size:24px; 
}

.registration-field > input[type=text]{
    width:70%;
    padding:20px;
}

.registration-field > input[type=checkbox]{
    
}

.registration-field > select{
    width:auto;
    float:right;
}

.registration-field > textarea{
    background-color:#fafafa;
}


.registration-field ul{
    list-style-type:none;
    padding:0px;
}

.registration-field ul li{
    margin:0px;
    float:right;
}

.registration-field ul li label,
.registration-field ul li input,
{
    white-space:nowrap;
    line-height:40px;
    padding:20px;
    margin:0xp;
    
}
.registration-field ul li label{
    padding-left:30px;
    white-space:nowrap;
}
.registration-field ul li input{
    margin:0px 10px;
    float:none;
}