{% load i18n %}
<p>{{ action }}</p>
{% if request.GET.modal %}
<div class="ui modal">
<div class="ui secondary menu">
    <a class="icon item right" href="view/" ><i class="icon eye"></i></a>
    <a class="icon item" href="translate/" data-content="Editer les textes" data-variation="inverted" ><i class="icon edit"></i></a>
    <a class="icon item" href="publish/" ><i class="icon book"></i></a>
    <a class="icon item" href="timing/" ><i class="icon clock"></i></a>
    <a class="icon item" href="location/" ><i class="icon marker"></i></a>
    <a class="icon item" href="image/" ><i class="icon picture"></i></a>
    <a class="icon item" href="content/" ><i class="icon code"></i></a>
    <a class="icon item" href="related/" ><i class="icon share square"></i></a>
</div>
{% endif %}
<form class="ui form message info {{ action }}" method="post" action="{{ action }}/" 
    target="{{ action_target|default:'_self' }}"
    enctype="multipart/form-data">
    <div class="ui right floated secondary menu" style="position:relative;z-index:1">
        <a class="icon item right" href="view/" ><i class="icon close"></i></a>
    </div>
    {% csrf_token %}
    <div class="ui padded vertical segment">
        {% for action_form in action_forms %}
            {% for field in action_form %}
                <div class="field {% if field.field.required %}required{% endif %}{% if field.errors %}error{% endif %}" >
                    <label for="id_{{field.name}}" >{{ field.label }}</label>
                    {% if field.type == 'checkbox' %}
                    {% else %}
                    {{ field }}
                    {% endif %}
                    {{ field.errors }}
                </div>
                {% if field.help_text %}
                    <p class="text">{{ field.help_text|safe }}</p>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <div class="field">
            <input type="submit" class="ui primary button" value="{% trans "Save" %}" />
        </div>
    </div>
</form>
{% if request.GET.modal %}
</div>
{% endif  %}